@define-color COL0	#1e1e2e;
@define-color COL1  #f38ba8;
@define-color COL2	#a6e3a1;
@define-color COL3	#fab387;
@define-color COL4	#89b4fa;
@define-color COL5	#cba6f7;
@define-color COL6	#74c7ec;
@define-color COL7	#bac2de;
@define-color COL8	#6c7086;
@define-color COL9	#eba0ac;
@define-color COL10	#94e2d5;
@define-color COL11	#f9e2af;
@define-color COL12	#b4befe;
@define-color COL13	#f5c2e7;
@define-color COL14 #89dceb;
@define-color COL15	#cdd6f4;

@define-color GRAY11 #cdd6f4;
@define-color GRAY10 #bac2de;
@define-color GRAY9  #a6adc8;
@define-color GRAY8  #9399b2;
@define-color GRAY7  #7f849c;
@define-color GRAY6  #6c7086;
@define-color GRAY5  #585b70;
@define-color GRAY4  #45475a;
@define-color GRAY3  #313244;
@define-color GRAY2  #1e1e2e;
@define-color GRAY1  #181825;
@define-color GRAY0  #11111b;

*{
    all:unset;
    font-family: ProFont IIx Nerd Font Propo, sans-serif;
    font-size: 13px;
    font-weight:bold;
    padding: 0px;
    margin: 0px;
}
.structure {
    border: 2px solid @COL4;
    background-color: @COL0;
    padding: 8px;
}

/* BRAIN {{{ */
.brain {
    color: @COL8;
    border: 2px solid @COL8;
    padding: 2px;
    min-width: 240px;
    min-height: 240px;
}
.brain-label {
    color: @COL1;
}
/* }}} */

/* CPU {{{ */
.cpu {
    border: 2px solid @COL8;
    margin-left: 8px;
    padding: 4px;
}
.cpu-idx {
    min-width: 40px;
    color: @COL8;
}
.cpu-per-usage {
    min-width: 40px;
    color: @COL8;
}
.cpu-footer {
    border-top: 2px dashed @COL8;
    padding-top: 4px;
    padding-bottom: 16px;
}
.cpu-usage {
    color: @COL2;
}
.cpu-freq {
    color: @COL2;
}
.cpu-name {
    color: @COL0;
    background-color: @COL4;
}
.cpu-progress trough {
    background-color: mix(@COL0,@COL7,0.1); 
    min-width: 260px;
    min-height: 10px;
}
.cpu-progress progress {
    background-color: @COL10; 
    border: 1px outset @COL10;
}
/* }}} */

/* EYES {{{ */
.eyes {
    color: @COL8;
    border: 2px solid @COL8;
    margin-left: 4px;
    padding: 2px;
}
.eyes-label {
    color: @COL1;
    margin-left: 2px;
}
/* }}} */

/* GPU {{{ */
.gpu {
    margin-left: 4px;
    border: 2px solid @COL8;
    padding: 4px 0px;
    color: @COL8;
}
.gpu-name {
    background-color: @COL5;
    color: @COL0;
    padding: 6px 0px;
    margin-left: 4px;
}
.gpu-progress trough {
    background-color: mix(@COL0,@COL7,0.1); 
    min-width: 10px;
    min-height: 190px;
}
.gpu-progress progress {
    background-color: @COL5; 
    border: 1px outset @COL5;
    min-width: 10px;
}
/* }}} */

/* TEMP {{{ */
.temp {
    border: 2px solid @COL8;
    padding: 4px;
}
.temp-key {
    color: @COL8; 
}
.temp-value {
    color: @COL0; 
    padding: 0px 2px;
    border-top: 1px solid @COL0;
    border-bottom: 1px solid @COL0;
}
.temp-label {
    color:@COL1; 
}
.low {
    background-color: @COL2;
}
.mid {
    background-color: @COL3;
}
.high {
    background-color: @COL1;
}
/* }}} */

/* MEM {{{ */
.mem-storage-label {
    color: @COL1;
}
.mem {
    margin: 0px 4px;
    border: 2px solid @COL8;
    padding: 4px;
    color: @COL8;
}
.mem-info {
    color:@COL15;
    padding: 2px;
}
.mem-header {
    background-color:@COL12;
    color: @COL0;
    padding: 2px 4px;
}
.storage-info {
    color:@COL15;
    padding: 2px;
}
.storage {
    margin: 0px 4px;
    border: 2px solid @COL8;
    padding: 4px;
    color: @COL8;
}
.storage-header {
    background-color:@COL13;
    color: @COL0;
    padding: 2px 4px;
}
/* }}} */

/* DISKIO {{{ */
.diskio {
    margin: 0px 4px;
    border: 2px solid @COL8;
    padding: 4px;
    color: @COL15;
}
.diskio-header {
    background-color:@COL14;
    color: @COL0;
    padding: 4px;
}
.dna {
    color: @COL4;
    border: 2px solid @COL8;
}
.dna-overlay {
    color: @COL3;
    background-color: alpha(@COL0,0.7);
    border: 3px solid @COL4;
    margin: 85px 30px ;
    padding: 8px;
}
/* }}} */

/* MUSIC {{{ */
.music {
    border: 2px solid @COL8;
    padding: 4px;
}
.music-albumart {
    border: 2px solid @COL8;
}
.music-title {
    background-color: @COL5;
    padding-left: 4px;
    color: @COL0;
}
.music-artist {
    background-color: @COL13;
    padding-left: 4px;
    color: @COL0;
}
.music-nav-next label ,
.music-nav-previous label ,
.music-nav-play label ,
.music-nav-pause label  
{
    padding: 0px 6px;
    font-size: 18px;
}
.music-nav-next label ,
.music-nav-previous label
{
    background-color: mix(@COL4,black,0.7);
    border: 2px solid @COL4;
    color: @COL4;
}
.music-nav-play label
{
    background-color: mix(@COL2,black,0.7);
    border: 2px solid @COL2;
    color: @COL2;
}
.music-nav-pause label
{
    background-color: mix(@COL1,black,0.7);
    border: 2px solid @COL1;
    color: @COL1;
}
.music-nav-repeat label,
.music-nav-random label,
.music-nav-single label,
.music-nav-consume label,
.music-nav-norepeat label,
.music-nav-norandom label,
.music-nav-nosingle label,
.music-nav-noconsume label,
.music-nav-oneshot label
{
    padding: 4px;
    font-size: 18px;
}
.music-nav-repeat label,
.music-nav-random label,
.music-nav-single label,
.music-nav-consume label
{
    background-color: mix(@COL2,black,0.7);
    border: 2px solid @COL2;
    color: @COL2;
}
.music-nav-norepeat label,
.music-nav-norandom label,
.music-nav-nosingle label,
.music-nav-noconsume label
{
    background-color: mix(@COL9,black,0.7);
    border: 2px solid @COL9;
    color: @COL9;
}
.music-nav-oneshot label
{
    background-color: mix(@COL5,black,0.7);
    border: 2px solid @COL5;
    color: @COL5;
}
.music-nav-scale {
    padding: 0px 4px;
}
.music-nav-scale-icon {
    color: @COL4;
    font-size: 18px;
}
.music-nav-scale scale trough {
    min-height: 4px;
    min-width: 112px;
    border-right: 2px solid @COL4;
    background-color: mix(@COL4,black,0.7);
}
.music-nav-scale scale highlight {
    min-height: 4px;
    background-color: @COL4; 
    border-top: 2px solid mix(@COL4,white,0.7) ;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid mix(@COL4,white,0.7);
}
.audio {
    border: 2px solid @COL4;
    padding: 4px;
    background-color: mix(@COL4,black,0.7);
}
.audio-sink {
    color: @COL15;
    padding: 0px 4px;
}
.audio-sink-icon {
    font-size: 18px;
}
.audio-sink scale trough {
    min-height: 4px;
    min-width: 112px;
    border-right: 2px solid @COL15;
    background-color: mix(@COL15,black,0.7);
}
.audio-sink scale highlight {
    min-height: 4px;
    background-color: @COL12; 
    border-top: 2px solid mix(@COL12,white,0.7) ;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid mix(@COL12,white,0.7);
}
.audio-source {
    color: @COL15;
    padding: 0px 4px;
}
.audio-source-icon {
    font-size: 18px;
}
.audio-source scale trough {
    min-height: 4px;
    min-width: 112px;
    border-right: 2px solid @COL15;
    background-color: mix(@COL15,black,0.7);
}
.audio-source scale highlight {
    min-height: 4px;
    background-color: @COL12; 
    border-top: 2px solid mix(@COL12,white,0.7) ;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid mix(@COL12,white,0.7);
}
/* }}} */

/* NET {{{ */

.net {
    border: 2px solid @COL8;
    padding: 4px;
    margin-left: 4px;
}
.net-device-name {
    color: @COL0;
    background-color: @COL4;
    padding: 4px;
}
.net-device-states {
    margin-top: 4px;
    border-top: 2px solid @COL8;
    padding-top: 8px;
}
.net-device-up {
    padding: 4px;
    color: @COL2;
    border: 2px solid @COL2;
    background-color: mix(@COL2,black,0.7);
}
.net-device-down {
    padding: 4px;
    color: @COL1;
    border: 2px solid @COL1;
    background-color: mix(@COL1,black,0.7);
}
.net-device-ip {
    margin-top: 12px;
    padding: 2px 4px;
    color: @COL4;
    background-color: mix(@COL4,black,0.7);
    border-top: 2px solid @COL4;
}
.net-device-gate {
    padding: 2px 4px;
    color: @COL5;
    background-color: mix(@COL5,black,0.7);
}
.net-device-speed {
    padding: 2px  4px;
    color: @COL6;
    background-color: mix(@COL6,black,0.7);
    border-bottom: 2px solid @COL6;
}
/*  }}} */

/* BT {{{*/
.bt {
    border: 2px solid @COL8;
    padding: 4px;
    margin-left: 4px;
}
.bt-controllers {
    padding: 6px;
    border: 2px solid @COL11;
    background-color: mix(@COL11,black,0.7);
}
.bt-devices {
    padding: 6px;
    border: 2px solid @COL14;
    background-color: mix(@COL14,black,0.7);
}
.bt-controllers-header {
    margin: 4px 0px 8px 0px;
    padding: 0px 0px 4px 0px;
    border-bottom: 2px dashed @COL11;
    color: @COL11;
}
.bt-devices-header {
    margin: 4px 0px 8px 0px;
    padding: 0px 0px 4px 0px;
    border-bottom: 2px dashed @COL14;
    color: @COL14;
}
.bt-remove label {
    color: @COL1;
    font-size: 18px;
}
.bt-on label{
    padding: 4px;
    color: @COL2;
    border: 2px solid @COL2;
    background-color: mix(@COL2,black,0.7);
} 
.bt-off label{
    padding: 4px;
    color: @COL1;
    border: 2px solid @COL1;
    background-color: mix(@COL1,black,0.7);
} 
/* }}} */

/* CAVA {{{ */
.cava {
    border: 2px solid @COL8;
    padding: 4px;
    margin-left: 4px;
}
.cava-progress trough {
    min-width: 3px;
}
.cava-progress progress {
    min-width: 3px;
    background-image: linear-gradient(
        @COL13,
        @COL5,
        @COL12
    );
}

.hover-button:hover label {
    border-color: white;
}
/* }}} */
