@define-color COL0	#1e1e2e;
@define-color COL1  #f38ba8;
@define-color COL2	#a6e3a1;
@define-color COL3	#fab387;
@define-color COL4	#89b4fa;
@define-color COL5	#cba6f7;
@define-color COL6	#74c7ec;
@define-color COL7	#bac2de;
@define-color COL8	#6c7086;
@define-color COL9	#eba0ac;
@define-color COL10	#94e2d5;
@define-color COL11	#f9e2af;
@define-color COL12	#b4befe;
@define-color COL13	#f5c2e7;
@define-color COL14 #89dceb;
@define-color COL15	#cdd6f4;

@define-color GRAY11 #cdd6f4;
@define-color GRAY10 #bac2de;
@define-color GRAY9  #a6adc8;
@define-color GRAY8  #9399b2;
@define-color GRAY7  #7f849c;
@define-color GRAY6  #6c7086;
@define-color GRAY5  #585b70;
@define-color GRAY4  #45475a;
@define-color GRAY3  #313244;
@define-color GRAY2  #1e1e2e;
@define-color GRAY1  #181825;
@define-color GRAY0  #11111b;

*{
    all: unset;
    font-family: ProFont IIx Nerd Font Propo, sans-serif;
    font-size: 13px;
    font-weight:bold;
    padding: 0px;
    margin: 0px;
}
.main-inner {
    background-color: @COL0; 
    border-bottom: 2px solid @COL4;
    padding-bottom: 4px;
}
.mode-n,.mode-r {
    color: @COL0;
    margin-left: 2px;
}
.mode-n {
    background-color: @COL4;
    border-top: 2px outset mix(@COL4,white,0.5);
    border-bottom: 2px solid transparent;
    border-left: 2px outset mix(@COL4,white,0.5);
    border-right: 2px solid transparent;
}
.mode-r {
    background-color: @COL1;
    border-top: 2px outset mix(@COL1,white,0.5);
    border-bottom: 2px solid transparent;
    border-left: 2px outset mix(@COL1,white,0.5);
    border-right: 2px solid transparent;
}
.wp,.wp-urgent {
    color: @COL0;
    padding: 0px 4px;
}
.wp {
    color: @COL15;
    border: 2px solid @COL0;
}
.wp-urgent {
    color: @COL0;
    background-color: @COL1;
    border-top: 2px outset mix(@COL1,white,0.5);
    border-bottom: 2px solid transparent;
    border-left: 2px outset mix(@COL1,white,0.5);
    border-right: 2px solid transparent;
}
.wp-focused {
    color: @COL0;
    background-color: @COL2;
    border-top: 2px outset mix(@COL2,white,0.5);
    border-bottom: 2px solid transparent;
    border-left: 2px outset mix(@COL2,white,0.5);
    border-right: 2px solid transparent;
}
.wp-outer:hover .wp {
    border-bottom: 2px outset white;
}
.wp-outer:hover .wp-focused,
.wp-outer:hover .urgent {
    border: 2px outset white;
}
.fw {
    color: @COL15;
}
/* Slim Style
.element-inner {
    padding: 0px 4px;
    color: @COL0;
    border-bottom: 2px;
    border-style: solid;
    border-color:@COL15;
}
.element-outer:hover .element-inner {
    border-color: white;
}
.cpu-inner {
    color: @COL2;
    border-color:@COL2;
}
.temp-inner {
    color: @COL1;
    border-color:@COL1;
}
.memory-inner {
    color: @COL3;
    border-color:@COL3;
}
.storage-inner {
    color: @COL5;
    border-color:@COL5;
}
.brightness-inner {
    color: @COL11;
    border-color:@COL11;
}
.battery-inner {
    color: @COL10;
    border-color:@COL10;
}
.network-inner {
    color: @COL6;
    border-color:@COL6;
}
.bluetooth-inner {
    color: @COL12;
    border-color:@COL12;
}
.visualizer-inner {
    color: @COL2;
    border-color:@COL2;
}
.audio-inner {
    color: @COL13;
    border-color:@COL13;
}
.time-inner {
    color: @COL14;
    border-color:@COL14;
    margin-right: 4px;
} 
*/
/* Boxes 
.element-inner {
    padding: 0px 4px;
    color: @COL0;
    border: 2px;
    border-style: outset;
}
.element-outer:hover .element-inner {
    border-color: white;
}
.cpu-inner {
    border-color:@COL2;
    background-color: @COL2;
}
.temp-inner {
    border-color:@COL1;
    background-color: @COL1;
}
.memory-inner {
    border-color:@COL3;
    background-color: @COL3;
}
.storage-inner {
    border-color:@COL5;
    background-color: @COL5;
}
.brightness-inner {
    border-color:@COL11;
    background-color: @COL11;
}
.battery-inner {
    border-color:@COL10;
    background-color: @COL10;
}
.network-inner {
    border-color:@COL6;
    background-color: @COL6;
}
.bluetooth-inner {
    border-color:@COL12;
    background-color: @COL12;
}
.visualizer-inner {
    border-color:@COL2;
    background-color: @COL2;
}
.audio-inner {
    border-color:@COL13;
    background-color: @COL13;
}
.time-inner {
    border-color:@COL14;
    background-color: @COL14;
    margin-right: 2px;
}
*/


.element-inner {
    padding: 0px 4px;
    border-bottom: 2px;
    border-style: solid;
}
.element-outer:hover .element-inner {
    border-color: white;
}
.cpu-inner {
    color: @COL2;
    border-color:@COL2;
    background-color: mix(@COL2,black,0.7);
}
.temp-inner {
    color: @COL1;
    border-color:@COL1;
    background-color: mix(@COL1,black,0.7);
}
.memory-inner {
    color: @COL3;
    border-color:@COL3;
    background-color: mix(@COL3,black,0.7);
}
.storage-inner {
    color: @COL5;
    border-color:@COL5;
    background-color: mix(@COL5,black,0.7);
}
.brightness-inner {
    color: @COL11;
    border-color:@COL11;
    background-color: mix(@COL11,black,0.7);
}
.battery-inner {
    color: @COL10;
    border-color:@COL10;
    background-color: mix(@COL10,black,0.7);
}
.network-inner {
    color: @COL6;
    border-color:@COL6;
    background-color: mix(@COL6,black,0.7);
}
.bluetooth-inner {
    color: @COL12;
    border-color:@COL12;
    background-color: mix(@COL12,black,0.7);
}
.visualizer-inner {
    color: @COL2;
    border-color:@COL2;
    background-color: mix(@COL2,black,0.7);
}
.audio-inner {
    color: @COL13;
    border-color:@COL13;
    background-color: mix(@COL13,black,0.7);
}
.time-inner {
    margin-right: 2px;
    color: @COL14;
    border-color:@COL14;
    background-color: mix(@COL14,black,0.7);
}

